/* место для вашего кода */
.header_size {
  /*секция для элементов header*/
  margin: auto;
  /*border: 1px transparent solid;*/
  padding: 92px 24px 96px;
  /*границы заданы для видимости секций и элементов*/
}

.inner_header {
  /*распологает все элементы в ряд*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 1052px;
  height: 105px;
  border: 1px transparent solid;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu_list {
  display: flex;
  flex-direction: row;
  gap: 33px;
  margin-left: 26px;
  width: 392px;
  height: 21px;
  list-style-type: circle;
  font-size: 18px;
  text-decoration: none;
  /*border: 1px transparent solid;*/
}

.menu_link {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.menu_link_active {
  list-style-type: none;
  position: relative;
  text-decoration: none;
}

.logo {
  width: 148px;
  height: 105px;
  margin-left: 34px;
  margin-right: 185px;
}

.contacts {
  font-size: 18px;
  width: 240px;
  height: 98px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*border: 1px transparent solid;*/
}

.contacts_link {
  text-decoration: underline;
  text-underline-offset: 4px;
  /*длина подчеркивания*/
}

.cover-background {
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(0 0 0/0.6);
  background-blend-mode: overlay;
}

.cover_size {
  /*секция для элементов cover*/
  width: 1100px;
  height: 757px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border: 1px transparent solid;
  padding: 165px 50px 51px;
}

.intro_size {
  width: 1000px;
  height: 355px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
}

.intro_name_one {
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 25px;
}

.letter_margin_one {
  margin-left: 40px;
}

.intro_name_two {
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
  color: white;
  margin-top: 5px;
  letter-spacing: 28px;
}

.letter_margin_two {
  margin-left: 35px;
}

.middle_word {
  margin-left: 286px;
}

.intro_name_three {
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 25px;
}

.letter_margin_three {
  margin-right: 35px;
}

.bottom_word {
  margin-left: 587px;
  margin-top: 5px;
}

.slogan {
  width: 637px;
  height: 28px;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  word-spacing: 18px;
  margin-left: 28px;
  border: 1px solid transparent;
}

.button {
  width: 256px;
  height: 51px;
  display: grid;
  border: 1px solid white;
}

.button_link {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 22px;
  margin: auto;
}

.info_size {
  /*секция для элементов info*/
  padding: 181px 24px 146px;
  border: 1px transparent solid;
}

.info_name {
  font-size: 40px;
  font-weight: 900;
  margin-left: 40px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.card_section {
  display: flex;
  gap: 25px;
}

.card_one {
  width: 334px;
  height: 563px;
  padding: 51px 40px 48px;
  border: 1px transparent solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(/images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
  background-color: rgb(0 0 0/0.6);
  background-blend-mode: overlay;
  margin-bottom: 30px;
}

.card_two {
  width: 334px;
  height: 563px;
  padding: 51px 40px 48px;
  border: 1px transparent solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(/images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 28px;
  background-color: rgb(0 0 0/0.6);
  background-blend-mode: overlay;
}

.card_three {
  width: 334px;
  height: 563px;
  padding: 51px 40px 48px;
  border: 1px transparent solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(/images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
  background-color: rgb(0 0 0/0.6);
  background-blend-mode: overlay;
}

.card_link {
  font-size: 22px;
  font-weight: 900;
  text-decoration: none;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: white;
  text-transform: uppercase;
}

.card_description {
  font-size: 20px;
  color: white;
  line-height: 1.2;
}

.info_link {
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-left: 40px;
}

.about_size {
  /*секция для элементов about*/
  display: flex;
  width: 1100px;
  height: 741px;
  border: 1px transparent solid;
  padding: 35px 24px 145px;
}

.logo_about {
  width: 148px;
  height: 114px;
}

.logo_background {
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  display: grid;
  place-content: center;
  position: absolute;
  margin-left: 47px;
}

.about_heading {
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 76px;
}

.about_description {
  font-size: 20px;
  line-height: 24px;
}

.about_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 24px;
  margin-left: 359px;
}

.footer_size {
  /*секция для элементов footer*/
  display: flex;
  justify-content: space-between;
  width: 1100px;
  height: 372px;
  border: 1px transparent solid;
  padding: 35px 50px 0px;
}

.menu_footer {
  width: 149px;
  height: 64px;
  font-size: 18px;
}
.menu_list_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.footer_icon_menu {
  width: 240px;
  height: 48px;
}

.footer_icon_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.icon {
  width: 48px;
  height: 48px;
}
