/* место для вашего кода */
.header {
    margin: auto;
    padding: 93px 0px 94px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1052px;
  }


.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu_list {
  display: flex;
  white-space: nowrap;
  gap: 33px;
  margin-left: 26px;
  width: 392px;
  list-style-type: circle;
  font-size: 18px;
  text-decoration: none;
}

.menu_link {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.menu_link_active {
  list-style-type: none;
  position: relative;
  text-decoration: none;
}

.logo {
  width: 148px;
  height: 105px;
  margin-left: 34px;
  margin-right: 186px;
}

.contacts {
  font-size: 18px;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-style: normal;
}

.contacts_link {
  text-decoration: underline;
  text-underline-offset: 4px;
  /*длина подчеркивания*/
}

.cover-background {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(0 0 0/0.6);
  background-blend-mode: overlay;
}

.cover_size {
  /*секция для элементов cover*/
  width: 1100px;
  min-height: 757px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  white-space: nowrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  padding: 163px 50px 54px;
}

.intro {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0.3em;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
  color: white;
}

.intro_text_left {
  display: block;
  text-align: start;
}

.intro_text_center {
  display: block;
  text-align: center;
  margin-top: 8px;
}

.intro_text_right {
  display: block;
  text-align: right;
}

.letter_margin_no {
  letter-spacing: 0em;
}

.letter_margin {
  letter-spacing: 0.6em;
}

.slogan {
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  word-spacing: 18px;
  margin-left: 28px;
}

.button {
  width: 256px;
  height: 51px;
  display: grid;
  align-items: center;
  border: 1px solid white;
  background-color: transparent;
  padding: 0;
}

.button_link {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: 400;
}

.info_size {
  padding: 177px 23px 146px;
}

.info_name {
  font-size: 40px;
  font-weight: 900;
  margin-left: 40px;
  margin-bottom: 26px;
  text-transform: uppercase;
}

.card_section {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
}

.link_card {
  text-decoration: none;
}

.card {
  width: 334px;
  height: 563px;
  padding: 51px 40px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  background-color: rgb(0 0 0/0.6);
  background-blend-mode: overlay;
}
.card_backround_anderson {
  background-image: url(../images/card-lot-01.jpg);
}

.card_background_joyce {
  background-image: url(../images/card-lot-02.jpg);
}

.card_background_kandinsky {
  background-image: url(../images/card-lot-03.jpg);
}

.card_name {
  font-size: 22px;
  font-weight: 900;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: white;
  text-transform: uppercase;
}

.card_description {
  font-size: 20px;
  color: white;
  line-height: 1.2;
}

.info_link {
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-left: 40px;
}

.about_size {
  display: flex;
  width: 1100px;
  padding: 136px 24px 145px;
}

.logo_about {
  width: 148px;
  height: 114px;
}

.logo_background {
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  display: grid;
  place-content: center;
  margin-left: 47px;
  margin-top: -99px;
}

.about_heading {
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 76px;
}

.about_description {
  font-size: 20px;
  line-height: 24px;
}

.about_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 24px;
  padding-left: 72px;
}

.footer_size {
  /*секция для элементов footer*/
  display: flex;
  justify-content: space-between;
  width: 1100px;
  padding: 37px 50px 0px;
  margin-bottom: 88px;
}

.menu_footer {
  width: 149px;
  font-size: 18px;
}

.menu_list_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  list-style-type: none;
}

.footer_icon_menu {
  width: 240px;
  height: 48px;
}

.footer_icon_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.icon {
  width: 48px;
  height: 48px;
}

.contacts_footer {
  font-size: 18px;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  font-style: normal;
  margin-bottom: 88px;
}